*{
    padding: 0;
    margin: 0;
}
header,footer{
    background-color: rgb(75, 75, 250);
    padding: 20px;
    text-align: center;
}
main{
    margin: 13px;
    text-align: center;
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    

    }
.testimonials-page{
   max-width: auto;
    padding: 40px;
    text-align: center;
    margin: 0  auto;
    border: 1px solid #a36868;
    border-radius: 5px;
    background-color: rgb(182, 120, 120);
    
 
}
img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
h2{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
p{
    font-style: italic;
}
h3{
    font-weight: bold;
    color: rgb(34, 77, 113);
    padding: 5px;
}
